language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4

install:
  - composer install --prefer-dist

before_script:
  - for P in src tests; do find $P -type f -name '*.php' -exec php -l {} \;; done

script:
  - composer test:cov

after_success:
  - bash <(curl -s https://codecov.io/bash)
