<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
  <arg value="psv"/>
  <arg name="extensions" value="php"/>

  <file>src</file>
  <file>tests</file>

  <exclude-pattern>/vendor/</exclude-pattern>

  <rule ref="PSR12"/>
</ruleset>
